.student-table-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 390px;
    border: 1px solid greenyellow;
}
.search-input{
    margin-top: 10px;
}
.name-row{
    margin-right: 20px;
    padding-left: 10px;
}
.nameColumn{
    margin-left: 200px;
}