.course-grade-gender-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5px;
    min-height: 10px;
    border: 1px solid  midnightblue;
    text-align: left;
    
}
.course{
    margin-left: 40px;
    padding-left: 30px;
}
.grade{
    color: red;
    margin-left: 40px;
    padding-left: 30px;
}
.student{
padding-left: 10px;
    
}

img{
    height: 50px;
    padding: 30px;
}
